.primary-color {
  background-color: #4834d4 !important;
}

.primary-color:hover {
  background-color: #14095c !important;
}

.success-color {
  background-color: #6ab04c !important;
}

.success-color:hover {
  background-color: #235e0a !important;
}

.warning-color {
  background-color: #f0932b !important;
}

.warning-color:hover {
  background-color: #965409 !important;
}

.danger-color {
  background-color: #eb4d4b !important;
}

.danger-color:hover {
  background-color: #9c1c1a !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease;
}

.function-title {
  width: 100%;
  padding: 10px 10px 10px 7px;
  border-left: 3px solid #d83c27;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

.form-control {
  width: 100%;
  display: block;
  height: 50px;
  max-width: 100%;
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
  background: var(--main-bg-color);
  border: 1px solid #c2c2c2;
  color: var(--main-color);
}

textarea.form-control {
  height: 100%;
}

.table {
  width: 100%;
}

.table th {
  padding: 15px;
}

.center {
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.pagination .page-item {
  display: block;
  background-color: #fff;
  border: 1px solid #dbdbdd;
  margin-left: -1px;
}

.pagination .page-item .page-link {
  display: block;
  text-decoration: none;
  line-height: 1.2;
  font-size: 17px;
  padding: 8px 12px;
}

.pagination .page-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .page-item:hover {
  background-color: #f7f7f7;
}

.pagination .page-item.active {
  background-color: #277ad8;
  color: #fff;
  font-weight: 600;
  border-color: #277ad8;
}

.disabled {
  cursor: not-allowed;
}

.btn {
  outline: none;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  background-color: #212121;
  color: #fff;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #f63a3a;
}

.box-input {
  margin-bottom: 10px;
}

.box-input p {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.inline-block {
  display: inline-block;
}

.btn-operation {
  display: inline-block;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background-color: #212121;
  color: #fff;
  font-size: 16px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 999px;
  margin-right: 5px;
}

.btn-operation i {
  display: inline-block;
  vertical-align: middle;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.hidden {
  opacity: 0;
}

.file {
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.dropfile {
  width: 100%;
  text-align: center;
}

.dropfile .dropfile-upload {
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  background-color: #f7f7f7;
  min-height: 17vh;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
}

.dropfile .dropfile-upload i {
  color: #277ad8;
  font-size: 15rem;
}

.space-empty {
  width: 100%;
  height: 30px;
}

.p-error {
  padding: 6px 0 0 0;
}

.p-error span {
  font-size: 14px;
  font-weight: 600;
  color: #f63a3a;
}

.alert {
  background-color: #212121;
  color: #eee;
  padding: 9px 14px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.alert-success {
  background-color: #6ab04c;
}

.alert-danger {
  background-color: #eb4d4b;
}

.alert-warning {
  background-color: #f0932b;
}

.alert-primary {
  background-color: #4834d4;
}

.back {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.back .back-prev-page {
  margin-right: 15px;
}

